{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="col-lg-4 col-md-4 col-sm-8 offset-lg-4 offset-md-3 offset-md-1 mt-4">
        <h1 class="h1 mb-3 font-weight-normal">Login</h1>
        {{ form(form) }}
    </div>
{% endblock %}
