@import "_theme"

@import "node_modules/bootstrap/scss/bootstrap-reboot"
@import "node_modules/bootstrap/scss/bootstrap-grid"
@import "node_modules/bootstrap/scss/bootstrap-utilities"

// Essentials
@import "node_modules/bootstrap/scss/type"
@import "node_modules/bootstrap/scss/tables"
@import "node_modules/bootstrap/scss/buttons"
@import "node_modules/bootstrap/scss/button-group"
@import "node_modules/bootstrap/scss/forms"
@import "node_modules/bootstrap/scss/alert"
@import "node_modules/bootstrap/scss/badge"
@import "node_modules/bootstrap/scss/images"
@import "node_modules/bootstrap/scss/close"
@import "node_modules/bootstrap/scss/dropdown"
@import "node_modules/bootstrap/scss/navbar"
@import "node_modules/bootstrap/scss/card"

// Utilities
@import "node_modules/bootstrap/scss/helpers"
@import "node_modules/bootstrap/scss/utilities"
@import "node_modules/bootstrap/scss/transitions"
@import "node_modules/bootstrap/scss/modal"

// Application
@import "_menu_global"

h3, h4
    color: rgba($fg, .8)

h5, h6
    color: rgba($fg, .6)


$gripSize: 1rem
$gripColor: $gray-500
$gripLine: .15rem
$gripMargin: .5rem

.grip
    margin-top: .7rem
    margin-right: .5rem
    width: $gripSize
    height: $gripSize
    position: relative

.grip:before
    position: absolute
    height: $gripSize/2 - $gripLine
    top: -$gripLine/2
    left: 0
    width: 100%
    display: block
    content: ''
    border-top: $gripLine solid $gripColor
    border-bottom: $gripLine solid $gripColor
    box-sizing: content-box

.grip:after
    position: absolute
    display: block
    left: 0
    bottom: 0
    width: 100%
    content: ''
    border-top: $gripLine solid $gripColor
