{% set dark_theme = app.session.get('dark_theme', false) %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'App' %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags(dark_theme ? 'app_dark' : 'app_light') }}
        {% endblock %}
    </head>
    <body>
        {{ include('_menu_global/main.html.twig') }}
        <div id="content">
            <div class="container-fluid">
                {% block body '' %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags(dark_theme ? 'app_dark' : 'app_light') }}
        {% endblock %}
    </body>
</html>
