{% extends 'base.html.twig' %}

{% block title 'Welcome to a Symfony Application' %}

{% block body %}
    <h1 class="mt-4 mb-4">Symfony Application</h1>
    <p>
        An application skeleton. Can be used for starting a new project, or to
        demonstrate features, test things out, or whatever you want.
    </p>
    <p>
        Click to <a href="{{ path('_ui_index') }}">see the UI Demonstration</a>
    </p>
{% endblock %}
