{% extends "base.html.twig" %}

{% block body %}
    <h1>User Interface Demonstration</h1>
    <h2>Typography</h2>
    <h3>Titles</h3>
    <div class="card">
        <div class="card-body">
            <p class="h1">Level 1</p>
            <p class="h2">Level 2</p>
            <p class="h3">Level 3</p>
            <p class="h4">Level 4</p>
            <p class="h5">Level 5</p>
            <p class="h6">Level 6</p>
        </div>
    </div>
    <h3>Text</h3>
    <p>Here is a multiple paragraph text.</p>
    <p>
        You can <mark>highlight</mark> text, <u>underline</u>,
        <em>emphasize</em>, <strong>bold</strong>, <del>strikethrough</del>, or
        <code>write code</code>.
    </p>
{% endblock %}
